page-profile {
    .profile-container {
        text-align: center;
        background-color: #15B7B9;
        color: #fff;
        padding: 20px;

        img {
            width: 120px;
            border-radius: 50%;
            border: 3px solid #fff;
        }
    }
}
